$color-black: #212529 !default;
$color-white: #ffffff !default;
$color-gray: #636363 !default;
$color-light-gray: #eeeeee !default;
$bg-body: #fcfcfd !default;
$color-border: #cdcdce !default;
$btn-primary: #307cfb !default;
$notice-board: #f2f5f7 !default;
$error: #e52353 !default;